<!DOCTYPE html>
<html>

<head>
    <title>League Home Page</title>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Concert+One|Raleway|Sniglet|Thasadith" rel="stylesheet">
    <link rel="stylesheet" href="league.css">
</head>

<body>

    <div id="root">
        <div id="header">
            <div class="center-core">
                <h1 class>Spinners Table Tennis League</h1>
            </div>
        </div>



        <div class="navigation">
            <div class="center-core">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li class="dropdown">
                        <a href="#">Divisions</a>
                        <div class="dropdown-content">
                            <a href="#">Division 1</a>
                            <a href="#">Division 2</a>
                            <a href="#">Division 3</a>
                        </div>
                    </li>
                    <li><a href="#">Teams</a></li>
                </ul>
            </div>

        </div>


        <div id="site-body">

            <p>Tempor nec feugiat nisl pretium fusce id. Magna etiam tempor orci eu lobortis elementum nibh tellus. In
                nisl nisi scelerisque eu ultrices vitae auctor. Tristique et egestas quis ipsum suspendisse ultrices
                gravida dictum fusce. Quis ipsum suspendisse ultrices gravida dictum fusce ut. Sagittis orci a
                scelerisque purus semper eget duis at.</p>
            <p>Risus commodo viverra maecenas accumsan lacus vel facilisis volutpat est. Etiam tempor orci eu lobortis
                elementum nibh. Vitae sapien pellentesque habitant morbi. Donec ultrices tincidunt arcu non sodales
                neque. Eget nullam non nisi est sit. Viverra aliquet eget sit amet tellus cras adipiscing. Aliquet
                lectus proin nibh nisl condimentum id venenatis. Vel quam elementum pulvinar etiam non quam lacus
                suspendisse faucibus. Eget lorem dolor sed viverra ipsum nunc aliquet bibendum enim. Massa tincidunt
                dui ut ornare lectus sit amet est placerat.</p>
        </div>

    </div>



</body>

</html>